@page "/"


<div class="text-center">
    <p class="text-lead">My name is:  <i>@StringUtils.GetUpperCase(name)</i></p>
</div>

<div class="text-center">
    <div class="alert alert-success">Let's plus two numbers: @(2 + 2)</div>
    <div class="text-left">
        <button class="btn btn-outline-primary" @onclick="@BtnClickHandler">Press me</button>
    </div>
</div>
<hr />

<div class="mt-2 pt-2 border border-info">
    <div class="text-center">
        <h3 class="fw-bold">Movie (Static)</h3>
        <h6 class="p-0">Info</h6>

        <p class="lead">Title: <b>@Matrix.Title</b></p>
        <p class="lead">Desciption: <b>@Matrix.Description</b></p>
        <p class="lead">Release Date: <b>@Matrix.ReleaseDate.ToShortDateString()</b></p>

    </div>
</div>
<hr />
@if (this.Movies is null)
{
    <div class="text-center">
        <img src="https://c.tenor.com/dO5CaXHvGgAAAAAC/loading-100.gif" loading="lazy" alt="Loading" />
        <text>Loading...</text>
    </div>
}
else if (this.Movies.Count() == 0)
{
    <div class="text-center">
        <h4 class="fw-bold text-info">No data found</h4>
    </div>
}
else
{

    <div class="mt-2 pt-2 border border-succcess">
        <div class="text-center">
            <h3 class="fw-bold">Movies (List)</h3>
            <h6 class="p-0">Info</h6>

            @foreach (var movie in GetMovies())
            {
                <div class="my-2 border-bottom border-primary">
                    <p>Title: <b>@movie.Title</b></p>
                    <p>Desciption: <b>@movie.Description</b></p>
                    <p>Release Date: <b>@movie.ReleaseDate.ToShortDateString()</b></p>
                </div>
            }
        </div>
    </div>

}


@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(6000);
        this.Movies = this.GetMovies();
        //this.Movies = new List<MovieDto>();
    }

    string name = "Batolito";

    public MovieDto Matrix { get => GetMovie(); }

    public IEnumerable<MovieDto> Movies { get; set; }

    private MovieDto GetMovie() => new MovieDto() { Description = "Soy una peli", ReleaseDate = DateTime.Now, Title = "Matrix Deceptions" };

    private IEnumerable<MovieDto> GetMovies() => new List<MovieDto>()
    {
        new MovieDto(){ Description = "Soy una peli", ReleaseDate = DateTime.Now, Title = "Matrix 1" },
        new MovieDto(){ Description = "Soy una peli", ReleaseDate = DateTime.Now, Title = "Matrix 2" },
        new MovieDto(){ Description = "Soy una peli", ReleaseDate = DateTime.Now, Title = "Matrix 3" },
        new MovieDto(){ Description = "Soy una peli", ReleaseDate = DateTime.Now, Title = "Matrix Deceptions" }
    };

    private void BtnClickHandler() => Console.WriteLine("Just you clicked me");
}